# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Virtual Environment
venv/
.env/
.venv/

/rate-my-professor-python/env
/rate-my-professor-python/.env
# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# IDE/Editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Miscellaneous
*.sqlite3
*.db
*.egg
*.egg-info
dist/
build/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt
